---
import "../styles/styles.css";
import Analytics from "@vercel/analytics/astro";
interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
import { OpenPanelComponent } from "@openpanel/astro";
import { ClientRouter } from "astro:transitions";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ClientRouter />
    <SpeedInsights />
  </head>
  <Analytics />
  <meta
    name="description"
    content="Play the best free games online. Enjoy a wide variety of games including action, puzzle, strategy, and more!"
  />
  <meta
    name="keywords"
    content="unblocked games, free games, online games, action games, puzzle games, strategy games, vercel unblocked games, unblocked games vercel, unblocked games vercel app, video games, online video games, free video games, unblocked video games, action video games, puzzle video games, strategy video games, action video games online, puzzle video games online, strategy video games online, action games online, puzzle games online, strategy games online"
  />
  <meta
    name="google-site-verification"
    content="NBlOMVSv6plhaf7kQsHx4aXHHlFlw1q8N0s44BOlVyk"
  />

  <body>
    <nav>
      <a href="/">
        <img
          src="/images/games_logo_light.svg"
          alt="light mode version of the GAMEhub logo"
          width="300"
          class="m-5"
        />
      </a>
    </nav>
    <main>
      <slot />
      <OpenPanelComponent
        clientId="a680ca86-3d81-4e1b-a83d-96f72967c2d1"
        trackScreenViews={true}
        trackAttributes={true}
        trackOutgoingLinks={true}
      />
    </main>
    <footer>
      <p>
        All games sourced from <a
          class="hover:underline underline-offset-2 text-blue-700"
          href="https://archive.org">Internet Archive</a
        >
      </p>
      <div style="font-size: 13px;">
        <a class="hover:underline underline-offset-2" href="/dmca">DMCA</a>
      </div>
    </footer>
  </body>
</html>
